@reference "tailwindcss";

.prose .autolink-heading {
  @apply no-underline!;
}

.prose .autolink-heading::after {
  content: '#';
  @apply inline-block ml-1 text-[0.75em] opacity-0 transition-opacity;
}

.prose .autolink-heading:hover::after,
.prose .autolink-heading:focus-visible::after {
  @apply opacity-60;
}

.prose pre > code {
  white-space: pre;
}

.prose code[data-line-numbers] {
  counter-reset: line;
}

.prose code[data-line-numbers] > [data-line]::before {
  counter-increment: line;
  content: counter(line);

  @apply inline-block w-8 mr-4 text-right text-gray-500;
}

/* theme */
html:not(.dark) .prose code[data-theme*='light'],
html:not(.dark) .prose code[data-theme*='light'] span {
  color: var(--shiki-light);
  background-color: var(--shiki-light-bg);
}

html.dark .prose code[data-theme*='dark'],
html.dark .prose code[data-theme*='dark'] span {
  color: var(--shiki-dark);
  background-color: var(--shiki-dark-bg);
}
